
{{> header}}

<section class="home-hero">
  <div style="background:rgba(0,0,0,0.4); padding:40px 0">
    <div class="container">
      <div style="color:white;">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header main-page-header text-center">
                    Welcome to LoanCo
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center">
                    How can we best serve your financial needs? 
                </h4>
                <br />
                <br />
                <br />
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4"> {{!-- col-md-offset-2 --}}
              {{!-- <br /> --}}
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="text-center"><i class="fa fa-fw fa-credit-card"></i>
                        Personal Loan
                      </h3>
                  </div>
                  <div class="panel-body">
                      <p class="loan-percentage">
                        2.75% - 3.15%
                      </p>
                      <div class="text-center">
                        <a href="/loan/personal" class="btn btn-default">Get Started</a>
                      </div>

                      <div class="loan-features">
                        <div class="collapseTrigger collapsed_OLD" data-toggle="collapse" data-target="#collapseLoan1" aria-expanded="false" aria-controls="collapseLoan1">
                          <!--<i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> -->DocuSign Features:
                        </div>
                        <div class="collapse in" id="collapseLoan1">
                          <ul>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Only 1 signer on this document">
                                Single Signer
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Word document import">
                                DOCX Import
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Tabs are where data is entered by a signer">
                                Auto-Place (Anchor) Positioning
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Sign without leaving the website">
                                Embedded Signing
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Add multifactor recipient authentication">
                                Access Code Authentication
                              </span>
                            </li>    
                            <br />                          
                          </ul>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="text-center"><i class="fa fa-fw fa-car"></i>
                        Auto Loan
                      </h3>
                  </div>
                  <div class="panel-body">
                      <p class="loan-percentage">
                        As low as 2.65%
                      </p>
                      <div class="text-center">
                        <a href="/loan/auto" class="btn btn-default">Get Started</a>
                      </div>

                      <div class="loan-features">
                        <div class="collapseTrigger collapsed_OLD" data-toggle="collapse" data-target="#collapseLoan2" aria-expanded="false" aria-controls="collapseLoan2">
                          <!--<i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> -->DocuSign Features:
                        </div>
                        <div class="collapse in" id="collapseLoan2">
                          <ul>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Templates help streamline the sending process">
                                Send from a Template
                              </span>
                            </li>                            
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Use routing orders to add multiple signers">
                                Multiple Signers
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Add multiple documents to your transactions">
                                Multiple Documents
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Numeric and date calculations supported">
                                Calculated (Formula) Tabs
                              </span>
                            </li>
                            <br />
                            <br />
                          </ul>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
          
          <div class="col-md-4">
              {{!-- <br /> --}}
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="text-center"><i class="fa fa-fw fa-ship"></i>
                        Sailboat Loan
                      </h3>
                  </div>
                  <div class="panel-body">
                      <p class="loan-percentage">
                        High-seas Fun!
                      </p>
                      <div class="text-center">
                        <a href="/loan/sailboat" class="btn btn-default">Get Started</a>
                      </div>

                      <div class="loan-features">
                        <div class="collapseTrigger collapsed_OLD" data-toggle="collapse" data-target="#collapseLoan3" aria-expanded="false" aria-controls="collapseLoan3">
                          <!--<i class="fa fa-plus-square-o show-on-collapsed" aria-hidden="true"></i><i class="fa fa-minus-square-o show-on-open" aria-hidden="  true"></i> -->DocuSign Features:
                        </div>
                        <div class="collapse in" id="collapseLoan3">
                          <ul>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Add signature and initial tabs to your transactions">
                                Sign & Initial Tabs
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Custom siging, sending, and email branding profiles supported">
                                Custom Branding
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Allow recipients to optionally attach documents">
                                Optional Signer Attachments
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="DocuSign supports both serial and parallel signers">
                                Routing Order
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="DocuSign supports multiple doc formats including images">
                                Image/PNG document
                              </span>
                            </li>
                            <li>
                              <span data-toggle="tooltip" data-placement="top" title="Control who can see which documents in your envelopes">
                                Complex Document Visibility
                              </span>
                            </li>
                          </ul>
                        </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action Section -->
<section class="action-section">
  <div class="container">
    <div class="well2 text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>
                  DocuSign: The easiest way to get things done
                </h3>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <a class="btn btn-lg btn-default btn-block" href="https://go.docusign.com/o/sandbox" target="_blank">
                  Create a Developer Account
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-lg btn-default btn-block" href="https://developers.docusign.com/" target="_blank">
                  Learn More
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p>
                  <br />
                  The most reliable and globally trusted service for electronic signatures and approvals. Over 600 million users worldwide
                </p>
            </div>
        </div>
    </div>
  </div>
</section>

<div class="container">
  {{> footer}}
</container>

