
{{> header}}

<div class="container">
	<p>
		<div>
			<br />
			<br />
			<strong>
				The Envelope has been sent. Please check your email inbox for an invitation to sign from DocuSign.
			</strong>
			<br />
			<br />
		</div>
	</p>

	{{> footer}}
</div>